:root {
    --white: #F2F2F2;
    --accent: #dca530;
    --hover: #fcc650;
    --dark: #181413;
    --pop: #684551;
}

/* Universal Styles */

body {
    background-color: var(--white);
    font: 1rem/1.5 "Lato", Arial, sans-serif;
}

/* Utility Classes */

.inner-container {
    max-width: 1024px;
    margin: auto;
}

.sr-only {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

/* Typography */

h1 {
    font-family: 'Hurricane', cursive;
}


/* Header */
header {
    position: sticky;
    top: 0;
    background-color: var(--pop);
    color: var(--white);
    padding: 0.25rem;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
}
header h1 {
    font-size: 3.5rem;
    font-weight: normal;
}
header .tagline {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    color: var(--white);
    margin-top: -1rem;
}

/* Hero Banner */
.inner-container-hero {
    max-width: 400px;
    margin: auto;
}

.hero-banner {
    background-image: url('../img/hero.webp');
    background-size: cover;
    background-position: center;
    color: var(--white);
    padding: 5rem 1rem;
}
.hero-banner h2 {
    font-size: 3rem;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: 3rem;
}
.hero-banner span {
    padding-left: 4rem;
}
.hero-banner p {
    margin: 1rem 0;
}
.hero-banner a {
    background-color: var(--accent);
    color: var(--dark);
    text-transform: lowercase;
    letter-spacing: 2px;
    padding: 0.75rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.hero-banner .centered {
    text-align: center;
    margin: 5rem;
}
.hero-banner a:hover {
    background-color: var(--hover);
}

/* Parallax */
.parallax {
    background-image: url('../img/splash-mobile.webp');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--dark);
    text-align: left;
}
.parallax h2 {
    font-weight: normal;
}

.parallax p {
    padding-top: 1rem;
}

.parallax > .inner-container {
    display: grid;
    grid-template-columns: 45% 55%;
}

.parallax .inner-container > .right-container {
    grid-column-start: 2;
}
.right-container {
    padding: 1rem;
}

/* Horizontal Scroll */
.inner-container > h2 {
    text-align: center;
    padding: 4rem 1rem;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 4rem;
    line-height: 4rem;
}

.horizontal-scroll {
    display: flex;
    overflow-x: scroll;
    gap: 1rem;
    padding: 4rem 1rem;
    margin-bottom: 5rem;
}

.horizontal-scroll::-webkit-scrollbar {
    height: 0.5rem;
    background-color: white;
}

.horizontal-scroll::-webkit-scrollbar-thumb {
    background-color: var(--accent);
}

.horizontal-scroll .product-card {
    min-width: 400px;
    min-height: 650px;
    background-color: white;
    border: none;
    padding: 1rem;
    text-align: center;
    color: var(--dark);
    position: relative;
}
.horizontal-scroll .product-card h2 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1rem;
    margin-bottom: 1rem;
}
.horizontal-scroll .product-card .description {
    font-size: 1rem;
    text-align: left;
}
.horizontal-scroll .category {
    color: var(--pop);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.75rem;
    padding: 1rem;
}

.horizontal-scroll a {
    background-color: var(--accent);
    color: var(--dark);
    text-transform: lowercase;
    letter-spacing: 2px;
    padding: 0.75rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    display: block;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    width: calc(100% - 2rem)
}

.horizontal-scroll a:hover {
    background-color: var(--hover);
}



/* Footer */
footer {
    background-color: var(--pop);
    color: var(--white);
    padding: 2rem;
    text-align: left;
}

.newsletter-signup {
    display: flex;
    max-width: 100%;
    margin: 1rem 0;
}

.newsletter-signup input {
    flex-grow: 1;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid var(--accent);
    border-right: none;
}

.newsletter-signup button {
    background-color: var(--accent);
    color: var(--dark);
    border: 1px solid var(--accent);
    font-size: 1rem;
    cursor: pointer;
}

.newsletter-signup button:hover {
    background-color: var(--hover);
}

footer h3 {
    font-size: 1.5rem;
    color: var(--accent);
    margin-bottom: 0.5rem;
    font-weight: normal;
    text-transform: uppercase;
}
footer .signup-container h3 {
    color: var(--white);
}
footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
footer ul li {
    margin-bottom: 0.5rem;
}
footer ul li a {
    color: var(--white);
    text-decoration: none;
    transition: color 0.3s;
}
footer ul li a:hover {
    text-decoration: underline;
}
footer .disclaimer {
    margin-top: 2rem;
    font-size: 0.75rem;
    color: var(--white);
    text-align: center;
}


@media screen and (min-width: 50rem) {
    .parallax {
        background-image: url('../img/splash.webp');
    }

    .signup-container {
        display: grid;
        grid-template-columns: 50% 50%;
        margin-bottom: 2rem;
        column-gap: 2rem;
    }

    .footer-links {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        margin-bottom: 2rem;
        column-gap: 2rem;
    }
}